ul li{

  font-size: 1.0rem;
}
/*li span{
font-size: 0.8rem;

}*/
.btn {
    font-size: 1.4vh;
}
.dropdown-menu { 
  background-color: rgba(42, 42, 42, 0.8) !important;
  /*width:200px;*/
}

 .dropdown-menu > a:hover, .dropdown-menu > a:focus {
            background-color:#4b4f53 !important;
 }
.dropdown-menu a{
    color: #ffffff !important;

}
#time_default{
    position: absolute;
    /* bottom: 0px; */
    left: 9.5% !important;
    bottom: 4% !important;
    color: white !important;
}
#divWrap{height:100%;width:100%;}

#div2{}

#div4{}
/*box attributes*/
 .Active{
    display:block;
    opacity:1;
  /*  -webkit-animation:fadeUp ease-in-out 0.5s;
    animation:fadeUp ease-in-out 0.5s;*/
}
@-webkit-keyframes fadeUp{
  from{opacity:0;margin-top:30px;}
  to  {opacity:1;margin-top:0;}
}
@keyframes fadeUp{
  from{opacity:0;margin-top:30px;}
  to  {opacity:1;margin-top:0;}
}

/*span {
  content: "\2015";
  color:#FFFF00;
}
*/
.wrapper {
  width: 28%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.btn{
   background-color:rgba(42, 42, 42, 0.8) !important;
    z-index: 1;
}
.btn-group, .btn-group-vertical{

  margin-top:4.6vh;
  width:30%;
  z-index: 1;
  position:absolute;
  font-size: 0.9vw;
}
/*@media screen and (max-width: 1585px){
.panel{
    width: 600px;
   
}

}*/

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
 /* transform: translateX(-40%);*/
 /* position: absolute;*/
}
.dropdown-item{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}


.cesium-viewer {
    font-family: sans-serif;
    font-size: 16px;
    overflow: hidden;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  .panel {
     background-color: rgba(42, 42, 42, 0.8);
    /*font-size: 1.4vh;*/
    position: absolute;
    font-size: 1.3vh;
    top: 0px;
    /*min-*/
    min-height: 4vh;
    min-width: 30.0vw;
    z-index: 1;
   /* min-height: 200px;*/
    display: inline-block;
    display: -moz-flex;
    -moz-flex-direction: column;
    -moz-flex-wrap: nowrap;
    
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: nowrap;
    
    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-flex-wrap: nowrap;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
     border-radius: 1px;
    /*background-color: rgba(42, 42, 42, 0.8);*/
    padding: 0;
    font-size: 1.1vh;
}

header {


   /*min-height: 200px;*/
  /* margin-bottom:-1.5vh;*/

   /*.*/
    border-radius: 1px;
    /*background-color: rgba(42, 42, 42, 0.8);*/
    padding: 0;
    font-size: 1.1vh;
   /* -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;*/
  /*  min-height: fit-content;*/
}
#title_text{
      float:right;
    font-size: 1.3vh;
    top: 0%;
    left:55%;
   /* left:40%;
  -ms-transform: translateY(-50%);
  transform: translate(-40%,-50%);*/
  word-wrap: break-word;
    /*top: 3%;*/
 /* height: auto;*/
 position: absolute;
   word-wrap: break-word;         /* All browsers since IE 5.5+ */
   overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
/*display: inline-block;*/
   
}
#name_text{
      float:right;
    top:0px;position: absolute;word-wrap: break-word;
    left:60%;
  /*  top: 50%;
    left:0%;
  /*-ms-transform: translateY(-50%);*/
/*  transform: translate(0%,-50%);
  word-wrap: break-word;
    top: 3vh;*/
 /* height: auto;*/
   word-wrap: break-word;         /* All browsers since IE 5.5+ */
   overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
   display: inline-block;
}

h2{font-size:1.7vw;color:#ffffff;}
h3{font-size:1.4vw;}
h5{font-size:1.1vw;}
h8#location.text-center{font-size:1.0vw;}
p{font-size:0.9vw;}
div#time.humidity-data.col-12.text-center{
font-size:0.9vw;
}

#canvasMap {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.container_t {
  display: block;
  position: relative;
  padding-left: 1.0rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.7vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left:0.5rem;
  margin-left: 1.4rem;
}

/* Hide the browser's default checkbox */
.container_t input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  left:20px;
  position: absolute;
  top: 1;
  left: 1;
  height: 17px;
  width: 17px;
  background-color: #40403f;
  border: 1px solid #212529;
}


.t_button {
  border: 1px solid #444;
  z-index : 1;
  position:fixed;
  background:rgba(42, 42, 42, 0.7);
  background-color:rgba(42, 42, 42, 0.7);
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:27px;
  font-weight:bold;
  padding:28px 54px;
  text-decoration:none;
}
/* On mouse-over, add a grey background color */
.container_t:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_t input:checked ~ .checkmark {
  background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_t input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_t .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.test{
    background:transparent;
    border-radius: 5px;
    padding: 20px 20px;
    color: #fff;
    line-height: 150%;
    font-size: small;
/* //   width:40%;*/

  /*  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);*/
}

#legend_list{

  font-size: 0.7rem;
/*  text-align: center;*/
}

#heightSliderLabel, #heightValue {
    vertical-align: top;
}


.loadingIndicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    width: 66px;
    height: 66px;
}

.cover {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#menu {
    position: absolute;
    left: 10px;
    top: 10px;
}

#menu1 {
    position: absolute;
    left: 10px;
    top: 10px;
    width:30%;
    height:30%;
    background-color: transparent;
}
.nowrap {
    white-space: nowrap;
}

html, body, #cesiumContainer {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    background: #000;
}

button.cesium-infoBox-camera {
    display: none;
}


fieldset.scheduler-border {
    width:100%;
    height:100%;
    border: 1px groove #ddd !important;
    padding: 0 1.0em 1.0em 1.0em !important;
    margin: 0 0 1.0em 0 !important;
}

legend.scheduler-border {
        color: white;
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
}



.foo {
  float:left;
  width: 10px;
  height: 10px;
  margin: 5px;
  
}
.dot{
float: left;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
}
.blue {

  background: #000000;
}
.link-right {
  width: 50px;
  height: 20%;
  border-right: solid #FFFF00 5px;
}

.purple {
     
  background: #FFFF00;
}

.wine {
  
  background: #ae163e;
}
.white{
 background: #FFFFFF;
}

.green{
 background: #228B22;
}


.back {
    /*display: inline-block;*/
    background: rgba(42, 42, 42, 0.7);
    border-radius: 5px;
    border: 1px solid #444;
    padding: 5px 10px;
    color: #fff;
    /*line-height: 150%;*/
    /*font-size: small;*/

}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.Demage {
  text-align: center;
  margin-top: 0px;
  position: fixed;
  padding:0px;
  top:10.3vh;
  margin: 0 auto;
  left:0vw;
  width: 13.5vw;        
}


.hide {
  display: none;
/*   -webkit-animation:fadeUp ease-in-out 0.5s;
  animation:fadeUp ease-in-out 0.5s;*/
 }

.scheduler-border .u1 hr{
width:10%;
        }
.other
{
    position: absolute;
    top:10.3vh;
    /*left:12.5vw;*/
    /*min-height: 33.2vh;*/
    min-width: 14.5vw;
    font-size: 0.9vh;
}
.j
{
    /*margin-top: -5%;*/
   /* top:calc(40% - 3vh);*/
    /*bottom: calc(40% - 3vh);*/
    top:10.3vh;
    background: rgba(42, 42, 42, 0.7);
    border: 1px solid #444;
    padding: 5px 12px;
    color: #fff;
    line-height: 270%;
    font-size: 1.0vh;
    width:10vw;
    position:fixed;
    z-index : 1;

    /*min-width: 249px;*/
    min-width: 14.5rem;
    /*////min-height: */

}

.j p
{
  
  text-align: left; padding-left: 1.3rem;
}

#boxWrap
{
/*margin: 2px auto;*/
line-height: 1.2;
padding-left: 0;
text-align: center;
margin-left:auto;
margin-right:auto;
margin-block-start: 1em;
margin-block-end: 1em;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}
.cesium-viewer-bottom {
display:none;
}

.column {
  float: left;
  width: 100%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#description {
  font-size: 1.4vh;
}
p.desc{
  margin-top: 0.4rem;
}
#temperature {
  font-size: 1.5vh;
  margin-top: 0.6rem;
}

#humidity, #wind, #visibility {
  font-size: 1.5vh;
  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
}

#icon-thermometer {
  font-size: 0.9rem;
  padding-bottom: 0.1rem;
}
p.temp {
    margin-top: 0.1rem;
}
.humidity, .wind, .visibility {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 1.0vh;
  padding: 1.0vh;

}
.weather-head {
  height: 50%;
}

#icon-desc {
  font-size: 1rem;
  padding-top: 0.1rem;
}

.weather {
  border:1px solid white;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: white;
}
.hero {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    bottom: 0;
}

@media (max-width: 768px) {
  .btn-group {
    font-size:4px;
    /*padding:4px 6px;*/
  }
}

@media (min-width: 768px) {
  .btn-group {
    font-size:12px;
    /*padding:6px 12px;*/
  }
}

@media (min-width: 992px) {
  .btn-group {
    font-size:14px;
    /*padding:8px 12px;*/
  }
}

@media (min-width: 1200px) {
  .btn-group {
    /*padding:10px 16px;*/
    font-size:18px;
  }
}
.cesium-infoBox{ font-family: "Lato", sans-serif;display:block;top:5vh;position: fixed;right:0;width:16vw;height:100vh;background:rgba(38,38,38,.95);color:#edffff;border:2px solid #444;border-right:none;border-top-left-radius:7px;border-bottom-left-radius:7px;box-shadow:0 0 10px 1px #000;transform:translate(100%,0);visibility:hidden;opacity:0;overflow:hidden;transition:visibility 0s .2s,opacity .2s ease-in,transform .2s ease-in}
.cesium-infoBox-visible{transform:translate(0,0);visibility:visible;opacity:1;transition:opacity .2s ease-out,transform .2s ease-out}
.cesium-infoBox-title{ font-family: "Lato", sans-serif;display:block;height:20px;padding:5px 30px 5px 25px;background:rgba(84,84,84,1);border-top-left-radius:7px;text-align:center;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;box-sizing:content-box}
.cesium-infoBox-bodyless .cesium-infoBox-title{border-bottom-left-radius:7px}
button.cesium-infoBox-camera{display:block;position:absolute;top:4px;left:4px;width:22px;height:22px;background:0 0;border-color:transparent;border-radius:3px;padding:0 5px;margin:0}
button.cesium-infoBox-close{display:block;position:absolute;top:5px;right:5px;height:20px;background:0 0;border:none;border-radius:2px;font-weight:700;font-size:16px;padding:0 5px;margin:0;color:#edffff}
button.cesium-infoBox-close:focus{background:rgba(238,136,0,.44);outline:0}
button.cesium-infoBox-close:hover{background:#888;color:#000}button.cesium-infoBox-close:active{background:#a00;color:#000}.cesium-infoBox-bodyless .cesium-infoBox-iframe{display:none}.cesium-infoBox-iframe{border:2px;width:100%;width:calc(100% - 2px);height:100% !important;max-height:100% !important; }
.cesium-viewer-bottom1 {
    /* display: none; */
}
/*.cesium-widget-credits {
    display: block;
    position: absolute;
    bottom: 30;
    left: 141;
    color: #fff;
    font-size: 10px;
    text-shadow: 0px 0px 2px #000000;
    padding-right: 5px;
}*/